:root {
  --font-inter: "inter", "inter Fallback";
}

@font-face {
  font-family: inter;
  src: url(/fonts/InterVariable-s.p.494bb210.ttf) format("truetype");
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(inter);

  color: #fff;
  overflow-x: hidden;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  overflow: hidden;
  top: 0;
  position: sticky;
  backdrop-filter: blur(0px);
}

.font-class {
  font-family: var(--font-inter);

  line-height: 27px;
  color: #ffffff;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 66rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 168px;
}

.header-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.header-links ul li a {
  font-family: var(--font-inter);
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  border-radius: 3.40282e38px;
  cursor: pointer;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;

  gap: 6px;
}

.cta-btn div button {
  font-weight: 500;
  font-family: var(--font-inter);
  color: #ffffff;
  white-space: nowrap;
  border-radius: 3.40282e38px;
  padding: 7px 12px;
  gap: 6px;
  background-color: #ffffff0d;
  border: none;
  font-size: 15px;
}

.cta-btn .start-for-free button {
  background-color: #ffffff;
  color: #1e1e1e;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.mintlify.com/hero/bg-light.svg);
  background-size: cover;
  background-position: center -130px;
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
  z-index: -1;
  top: -4rem;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
}

main section {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  z-index: 2;
}

.hero-section a {
  padding: 4px 8px;
  display: flex;
  gap: 5px;
  text-decoration: none;
  text-align: center;
  align-items: center;

  position: absolute;
  top: 90px;
}

.heading {
  padding-top: 6.5rem;
  text-align: center;
  padding: 104px 0px 96px 0px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  font-size: 60px;
  letter-spacing: -0.02rem;
  text-wrap: balance;
  line-height: 75px;
  max-width: 688px;
  width: 100%;
}

.heading p {
  font-size: 18px;
  line-height: 27px;
  max-width: 29.5rem;
  margin-top: 24px;
}

.heading form {
  padding: 4px;
  background-color: #ffffff26;
  border: 1px solid #ffffff26;
  gap: 6px;
  align-items: center;
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
  border-radius: 3.40282e38px;
  width: 65%;
}

.heading form input {
  appearance: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  line-height: 22.5px;
  font-size: 15px;
  height: 32px;
  padding: 0px 12px;
}

.heading form input::placeholder {
  color: #ffffff;
  opacity: 50%;
  font-weight: 600;
}

.heading form button {
  color: #08090a;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 3.40282e38px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  border: 1px solid #ffffff;
  padding: 2px 12px;
}

.hero-section-img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 67.5rem;
  z-index: 5;
}

.hero-section-img img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px; /* adjust if needed */
  background: #ffffff;
  z-index: 1;
}

.trusted-by {
  padding: 72px 32px 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 28px;
  column-gap: 8px;
  max-width: 64rem;
}

.logos-company {
  width: 250px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos-company img {
  width: 130px;
  height: 30px;
  object-fit: contain;
  display: block;
}
