:root {
  --font-inter: "inter", "inter Fallback";
}

@font-face {
  font-family: inter;
  src: url(/fonts/InterVariable-s.p.494bb210.ttf) format("truetype");
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(inter);
  background-color: #1e1e1e;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 168px;
}

.header-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.header-links ul li a {
  font-family: var(--font-inter);
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  border-radius: 3.40282e38px;
  cursor: pointer;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
